/* Header */

.main-container{
    max-width: 80vw;
    height: 100vh;
    margin-left: 20em;
    margin-right: 3.5em;
}

.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0.625em;
    border-radius: 0.5em;
    background-color: var(--container-color);
}

.header__navigation .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation .navigation #left-arrow{
    margin-right: 1.25rem;
}

.header__navigation .navigation .arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border:none;
    cursor: pointer;
}

.header__login{
    display: flex;
    align-items: center;
}

.header__search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--subcontainer-color);
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img{
    width: 1em;
    height: 1em;
    margin-left: 0.75em;
}

.header__search input{
    background: transparent;
    border: none;
    padding: 0px 100px 0 12px;
    color:#fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login .subscribe{
    color: #a7a7a7;
    font-size: 1em;
    font-weight: 700;
    background-color: transparent;
    margin-right: 2em;
}
.header__login .login{
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}

/* Body */

.body__navigation{
    display: flex;
    height: 50em;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0.625em;
    border-radius: 0.5em;
    background-color: var(--container-color);
}

.body__navigation .body__text{
    font-family: var(--font-dm-sans);
    color:#fff;
    display: table-column;
    justify-content:space-between;
    font-weight: 600;
    padding-bottom: 37em;
}

.body__text .body__text__title{
    font-size: 2em;
}

.body__text .body__text__subtitle{
    font-size: 1.5em;
    margin-top: 3.125em;
}